.contentwrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items:center;
}
.mainTitle{
    font-size: 30px;
    font-weight: 500;
}
.counterContainer{
    width: 30%;
    margin-left: 40%;
    margin-top: 15%;
    
}

